.normalized-wrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: min(900px, calc(100vw - 100px));
  padding: 25px;
}

.horizontal {
  
}